* {
  font-family: 'Red Hat Display', sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 26px;
  background-color: #fafafa;
  color: #87879d;
}

.logo {
  margin: 48px 128px;
}

.hero {
  width: 110%;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  /* or 110% */

  text-align: center;

  color: #28283d;
}

.buttons,
.number_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button1,
.button2 {
  padding: 16px 40px;
  color: white;
  border-radius: 29px;
}

.button1 {
  background-color: #4d96a9;
  margin: 32px 0px 16px 0px;
}

.button2 {
  background-color: #855fb1;
}

.button1:hover {
  background-color: #71c0d4;
  cursor: pointer;
}

.button2:hover {
  background-color: #b18bdd;
  cursor: pointer;
}

.number_container {
  width: 56px;
  height: 140px;
  margin: 64px auto;
}
.number {
  padding: 15px 19px;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50%;
  font-weight: 900;
}

.line {
  border-left: 1px solid rgba(135, 135, 157, 0.25);
  height: 84px;
}

.image_top {
  margin-bottom: 24px;
}

.image_section img {
  border-radius: 20px;

}
